@charset "UTF-8";

.sm {
	width: 90%;
	border-radius: 10px;
	background-color: #00000055;
	background-image: url("../img/pado.png");
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-family: "b";
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.smPhoto {
	max-width: 80px;
	border-radius: 10px;
}

.smOwner {
	font-family: "a";
	font-size: 18pt;
	padding-left: 10px;
}

.smDate {
	font-family: "b";
	font-size: 15pt;
	color: white;
	padding-right: 10px;
}

.smTxt {
	font-family: "c";
	font-size: 13pt;
	color: white;
	padding-left: 13px;
	word-break: break-all;
}

.sm button {
	border: none;
	background-color: transparent;
	font-family: "b";
	font-size: 15pt;
}

#snsWriteArea {
	position: fixed;
	left: 0px;
	width: 100%;
	transition: all 0.4s ease-out;
}

#snsWriteTable {
	width: 1000px;
	border-spacing: 0px;
	background-color: #000000BF;
}

#snsWriteTable textarea {
	border: none;
	background-color: transparent;
	width: 800px;
	height: 100px;
	font-size: 14pt;
	font-weight: 800;
	color: white;
	padding: 10px;
	font-family: "c";
}

#snsWriteTable button {
	color: white;
	font-size: 17pt;
	font-weight: 800;
	background-color: transparent;
	border: none;
	font-family: "b";
}

#swtTd1 {
	border-left: white solid 4px;
	border-top: white solid 4px;
	border-bottom: white solid 4px;
}

#swtTd2 {
	border-right: white solid 4px;
	border-top: white solid 4px;
	border-bottom: white solid 4px;
}